<%- include('templates/header')-%>
    <div class="row justify-content-center mb-5">
        <div class="col-md-8">
            <h2 class="mb-3">Judul</h2>
    
            <p>By. <a href="/#" class="text-decoration-none">Adi Riyanto</a></p>

            <img class="card-img-top" src="https://source.unsplash.com/1200x400?sport" alt="sport" class="img-fluid">

            <article class="my-3 fs-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis cumque at adipisci amet voluptatibus tenetur sit. Laborum asperiores neque blanditiis porro iusto quasi, numquam quas sed eos, odio reprehenderit atque labore dolorum illum illo aliquid consectetur at earum in qui sint? Cumque ratione illo doloremque iusto aspernatur? Maxime, ipsam commodi eos voluptatum dolores asperiores exercitationem nobis omnis porro deserunt quae dolorem laboriosam eum reprehenderit vel facilis aliquam, animi dolore eaque facere. Voluptas optio nobis perspiciatis eveniet doloremque suscipit maxime inventore cupiditate a asperiores labore excepturi, ipsa corrupti dolore enim impedit tenetur provident veniam quis sunt velit. In quas non necessitatibus.

            </article>

            
            <a href="/" class="d-block mt-3">Back to berita</a>

        </div>
    </div>
<%- include('templates/footer')-%>