<%- include('templates/header')-%>
    <div class="container">
      <h1><%= title %></h1>
      <br />
      <% if (msg.length !== 0) { %>
        <div class="alert alert-success" role="alert">
            <%= msg %>
        </div>
        <% } %>
      <form method="POST" action="/login">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="username"
            placeholder="Username"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          placeholder="Password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        
        <div class="mb-3 mt-3">
        <a href="/register" class="btn btn-warning">Register</a>    
        </div>
      </form>
    </div>
    <%- include('templates/footer')-%>